asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorclass==2.2.0
Django==3.1.5
docopt==0.6.2
flake8==3.8.4
flake8-builtins==1.5.3
flake8-django==1.1.1
flake8-import-order==0.18.1
flake8-print==4.0.0
idna==2.10
mccabe==0.6.1
packaging==20.8
pip-tools==5.5.0
pip-upgrader==1.4.15
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytz==2020.5
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
terminaltables==3.1.0
urllib3==1.26.2
